{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} {% endblock %}

{% block content %}
    <h1>Testlar</h1>
    <form method="post">
        {% csrf_token %}
        {% if questions %}
            {% for question in questions %}
                {{ question.name }}<br>
                {% for answer in answers %}
                    {% if question.id == answer.question.id %}
                        <input type="radio" name="{{ question.name }}" value="{{ answer.is_right }}">
                        <label>{{ answer.name }}</label><br>
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}<br>
            <button class="btn btn-success" type="submit">
                Yakunlash
            </button>
        {% else %}
            <p>Savollar mavjud emas!</p>
        {% endif %}
    </form>
{% endblock %}